# файл окружения
/.env

# логи
/logs

# файлы сайтов
/sites/*
!/sites/.gitkeep

# файлы баз данных
/data/mysql/*
!/data/mysql/.gitkeep

# файл traefik-а для ssl-сертификатов
/conf/traefik/acme.json

# файлы IDE
.idea/
